<!DOCTYPE html>


<head>
    <title>Slood</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&amp;display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, user-scalable=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <link rel="shortcut icon" href="/assets/images/logo-petit.ico" type="image/x-icon">
    <link rel="icon" href="/assets/images/logo-petit.ico" type="image/x-icon">
    <meta name="description" content="Créez facilement votre site internet votre agence SLOOD. Didier Lou est Expert en scraping & web-scraping, data extraction, structuration et visualisation des données via python selenium et puppeteer crawling et formateur spécialisé. slood vous accompagne pour la réussite de votre projet">
    <meta name="twitter:description" content="Créez facilement votre site internet avec votre agence SLOOD. Didier Lou est Expert en scraping & web-scraping, data extraction, structuration et visualisation des données via python selenium et puppeteer crawling et formateur spécialisé. slood vous accompagne pour la réussite de votre projet">
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- <link rel="stylesheet" href="/assets/css/style_grand.css" media="screen and (min-width: 1224px)">
    <link rel="stylesheet" href="/assets/css/style_moyen.css" media="screen and (max-width: 1224px) and (min-width: 801px)">
    <link rel="stylesheet" href="/assets/css/style_mini.css" media="screen and (max-width: 800px)"> -->

</head>

<body>
    <script>
        socket = io();
    </script>