body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}


div#app {
    position: absolute;
    width: 50%;
    margin-left: 25%;
}

div#titre {
    box-shadow: 1px 1px 6px lightgray;
    padding: 2%;
}

div#paragraphe {
    box-shadow: 1px 1px 6px lightgrey;
    padding: 2%;
    margin-top: 2%;
}

button.bt {
    outline: none;
    box-shadow: 0 0 6px grey;
    background-color: rgb(255, 255, 255);
    border: 0px;
    margin-left: 0%;
    border-radius: 12px;
    padding: 5px;
    margin: 1%;
    height: 23px;
    cursor: pointer;
    color: gray;
}


button.bt:hover {
    background-color: #efefefba;
    color : black;
}

button.bt:active {
    background-color: #cecdcdba;
    transform: translateY(1px);
}

[role="selected"] {
    color: black!important;
    font-weight: bold;
}


.like {
    width: fit-content;
    position: absolute;
    left: -18px;
    font-size: x-large;
}

.like:hover {
    cursor: pointer;
}

div#cat {
    margin-top: 56px;
    width: 100%;
    text-align: center;
}

div#edit {
    width: 50%;
    margin: auto;
}

.del {
    position: absolute;
    left: -64px;
    font-size: x-large;
    box-shadow: 0px 1px 6px;
    padding: 2%;
    cursor: pointer;
    color: gray;
}

.del:hover {
    color: black;
}

.del:active{
    transform: translateY(1px);
}
div#left {
    top: 62px;
    position: fixed;
}
.left {
    box-shadow: 1px 1px 6px #8d8b8b;
    margin: 2%;
    border-radius: 20px;
    padding: 2%;
    width: 79%;
    margin-left: 8%;
    cursor: pointer;
}
