body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

form#cache {
    display: none;
}
div#app {
    position: absolute;
    width: 50%;
    margin-left: 25%;
}

div#titre {
    box-shadow: 1px 1px 6px lightgray;
    padding: 2%;
}

div#paragraphe {
    box-shadow: 1px 1px 6px lightgrey;
    padding: 2%;
    margin-top: 2%;
}

button.bt {
    outline: none;
    box-shadow: 0 0 6px grey;
    background-color: rgb(255, 255, 255);
    border: 0px;
    margin-left: 0%;
    border-radius: 12px;
    padding: 5px;
    margin: 1%;
    height: 23px;
    cursor: pointer;
    color: gray;
}


button.bt:hover {
    background-color: #efefefba;
    color : black;
}

button.bt:active {
    background-color: #cecdcdba;
    transform: translateY(1px);
}

[role="selected"] {
    color: black!important;
    font-weight: bold;
}


.like {
    width: fit-content;
    position: absolute;
    left: -18px;
    font-size: x-large;
}

.like:hover {
    cursor: pointer;
}

div#cat {
    margin-top: 56px;
    width: 100%;
    text-align: center;
}

div#edit {
    width: 50%;
    margin: auto;
}

.del {
    position: absolute;
    cursor: pointer;
    color: gray;
    padding: 0%;
    left: -8%;
    box-shadow: 1px 1px 6px;
    padding: 2%;
}

.del:hover {
    color: black;
}

.del:active{
    transform: translateY(1px);
}
div#left {
    POSITION: fixed;
    top: 56px;
    height: 700px;
    width: 250px;
    overflow: auto;
}
.left {
    box-shadow: 1px 1px 6px #8d8b8b;
    margin: 2%;
    border-radius: 20px;
    padding: 2%;
    /* width: 100%; */
    /* margin-left: 8%; */
    cursor: pointer;
}

div#rigth {
    position: fixed;
    right: 2%;
    display: flex;
    flex-direction: column;
}
form#dl {
    display: none;
}


li {
    marker: none;
    list-style: none;
}
.sty {
    box-shadow: 1px 1px 6px;
    padding: 6px;
    display: flex;
    width: 100%;
    margin: 3%;
}

.dels {
    padding: 1%;
    padding-right: 3%;
    font-size: x-large;
    margin-top: -7px;
}

.sty:hover {
    cursor: pointer;
}

li>a {
    color: black;
    text-decoration: none;
}
.dl {
    display: flex;
    box-shadow: 1px 1px 6px;
    margin: 2%;
    padding: 2%;
    width: 100%;
}
.dels {display: none;}
.dels {
    cursor: pointer;
}